<nav class="navbar navbar-expand-lg">

  <div class="container-fluid">

    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="nav col-12 col-lg-auto my-2 my-md-0 text-small text-secondary text-center">

        <li>
          <a [routerLink]="['/']" class="nav-link text-secondary">
            Home
          </a>
        </li>

        <li>
          <a [routerLink]="['/studio']" class="nav-link">
            Nosso Estúdio
          </a>
        </li>

        <li>
          <a [routerLink]="['/procedimentos']" class="nav-link">
            Procedimentos
          </a>
        </li>

        <li>
          <a href="#professionals" class="nav-link">
            Profissionais
          </a>
        </li>

        <li>
          <a [routerLink]="['/produtos']" class="nav-link">
            Produtos
          </a>
        </li>

        <li>
          <a href="#location" class="nav-link">
            Localização
          </a>
        </li>

        <li>
          <a href="#contacts" class="nav-link">
            Contatos
          </a>
        </li>

      </ul>

    </div>
    
    <div class="text-center">
      <a class="nav-link d-flex justify-content-center align-items-center"
        target="_blank"
        href="https://wa.me/5511946204017?text=Olá%20Studio%20Luana%20Lima,%20gostaria%20de%20agendar%20um%20horário!">
        <span class="material-icons">calendar_month</span>

        <div class="waviy">
          <span style="--i:1">A</span>
          <span style="--i:2">G</span>
          <span style="--i:3">E</span>
          <span style="--i:4">N</span>
          <span style="--i:5">D</span>
          <span style="--i:6">A</span>
          <span style="--i:7">R</span>       
         </div>
      </a>
    </div>

  </div>

</nav>