<nav class="navbar navbar-expand-lg">

  <div class="container-fluid">

    <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small text-secondary text-center">

        <li>
          <a [routerLink]="['/']" class="nav-link text-secondary text-center">
            Home
          </a>
        </li>

        <li>
          <a [routerLink]="['/studio']" class="nav-link">
            Nosso Estúdio
          </a>
        </li>

        <li>
          <a [routerLink]="['/procedimentos']" class="nav-link">
            Procedimentos
          </a>
        </li>

        <li>
          <a href="#professionals" class="nav-link">
            Profissionais
          </a>
        </li>

        <li>
          <a [routerLink]="['/produtos']" class="nav-link">
            Produtos
          </a>
        </li>

        <li>
          <a href="#location" class="nav-link">
            Localização
          </a>
        </li>

        <li>
          <a href="#contacts" class="nav-link">
            Contatos
          </a>
        </li>

      </ul>
    </div>

  </div>

</nav>