#float-button-top {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 80px;
    right: 10px;
    background-color: var(--theme-pink-color);
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.invisible {
    visibility: hidden;
}

.float-button:hover {
    transform: scale(1.05);
}