img {
    width: 100%;
    content: url("/assets/images/site/studio-luana-lima-banner-wide.png");
}

@media only screen and (max-width: 600px) {
    img {
        content: url("/assets/images/site/studio-luana-lima-banner-quadrado.png");
    }
}